{% extends 'base.html' %}

{% block title %}
<title>Про магазин</title>
{% endblock %}

{% block body %}
    <div class="container">
    <h1>Про магазин</h1>
    <small>ООО «Онлайн магазин»<br>
Время работы: 09:00 - 17:30 пн-пт.<br>
Жалобы и предложения принимаются и оперативно обрабатываются в рабочее время с помощью электронной почты, на форуме, а также по телефонам 695-25-25 (МТС, A1, life:) ежедневно с 8:00 до 22:00.<br>
<br>
<hr size="0"><br>
<br>
<b>При совершении покупок в интернет-магазине "Онлайн магазин" выдается:</b><br>
1. Кассовый чек.<br>
2. Товарный чек (в случаях, предусмотренных законодательством, или по требованию покупателя).<br>
3. Гарантийный талон (только в случаях, предусмотренных товаром).</small>
    </div>

{% endblock %}

