{% extends 'base.html' %}

{% block title %}
<title>Формы и способы оплаты</title>
{% endblock %}

{% block body %}
<div class="container">
<h1>Формы и способы оплаты</h1>
</div>
<small><b><a>Оплата при получении</a></b><br>
При доставке курьером, самовывозе вы оплачиваете заказ наличными или банковской картой после проверки комплектности и качества товаров. Также при доставке курьером, самовывозе можно оплатить заказ картой рассрочки «Халва» от МТБанка, «Картой покупок» от Белгазпромбанка, картой рассрочки «КартаFun» от БПС-Сбербанка, картой рассрочки «Черепаха» от ВТБ банка, картой «Магнит» от Беларусбанка.<br>
<br>
При доставке самовывоза в магазинах вы можете оплатить заказ воспользовавшись платежной системой «Оплати».<br>
<br>
Оплатить заказ контактной картой при доставке курьером можно, заранее указав эту информацию в примечании при оформлении онлайн.<br>
<br>
<b><a >Предоплата банковской картой</a></b><br>
Предоплата производится через интернет в режиме реального времени непосредственно после оформления заказа. Минимальная сумма платежа составляет 0,10 рублей. Максимальная — 1000 рублей.<br>
<br>
Оплатить заказ можно в течении 2 дней после его оформления.<br>
<br>
К оплате принимаются карты Visa/MasterCard всех типов.<br>
<br>
За начисление сash-back при оплате заказов по карте компания ответственности не несет.<br>
Эту информацию вы можете уточнить в вашем банке.<br>
<br>
<b><a>Оплата картой рассрочки Халва</a></b><br>
Оплатить картой «Халва» возможно:<br>
• заказ или розничную покупку в магазинах ;<br>
• заказ в случае предоплаты на сайте или в мобильном приложении OZ.<br>
<br>
Срок рассрочки зависит от выбранного способа оплаты:<br>
• предоплата при оформлении заказа на сайте — 1 месяц;<br>
• оплата заказа при получении в магазинах  — 2 месяца;<br>
• оплата покупки в магазинах  — 2 месяца;<br>
• оплата заказа при доставке курьером — 2 месяца.<br>
<br>
<a target="_blank"></a><b><a >Система Расчет (ЕРИП)</a></b><br>
Оплата через систему «Расчет» (ЕРИП) в 23 банках и РУП "Белпочта", свыше 15 500 пунктов: кассы, банкоматы, инфокиоски, устройства приема денег. Наиболее удобна при использовании <a  target="_blank">Интернет-банка</a>. Оплатить заказ можно в течении 2 дней после его оформления.<br>
<br>
<a  target="_blank"></a><b><a >SMS-оплата через МТС,  life:)</a></b><br>
Оплата со счёта мобильного телефона МТС, life:). На базе платёжной системы iPay. Отправка SMS бесплатна. iPay возьмёт дополнительно 2-10% от суммы. Оплатить заказ можно в течении 2 дней после его оформления.<br>
<br>
<b><a >Наложенный платеж</a> (+5% от суммы заказа)</b><br>
Наложенный платеж — это возможность оплаты заказа в отделении почтовой связи в момент его получения. При этом работник отделения почтовой связи взыскивает с адресата при вручении ему почтового отправления сумму наложенного платежа, которая направляется почтовым денежным переводом в наш адрес. Плата за пересылку почтового денежного перевода составляет от 5% до 0,5% от суммы перевода, но не менее 1 руб. Комиссия за риски при использовании данной формы оплаты/доставки составит 5% от суммы заказа.<br>
<br>
Формы оплаты: безналичная и наличная.</small>
{% endblock %}


